{% extends 'base.html' %}
{% block title %}Sign Out | Karier Terdepan{% endblock %}
{% block content %}
{% load static %}
    <!-- ================ Logout ================= -->
    <div class="tes">
        <div class="cardTes">
            <div class="cardHeader">
                <h1 class="mb-3">
                    Apakah Anda yakin ingin keluar?
                </h1>
                <P class="col-md-8 text-center mb-2">
                    Pastikan semua data telah disimpan sebelum Anda keluar dari sistem.
                    Terima kasih telah menggunakan Sistem Informasi Pencatatan Debit Air.
                </P>
                <img src="{% static 'images/logout.svg' %}" alt="">
                <div class="col-12">
                    <a href="{% url 'logout_session' %}" class="btn btn-danger btn-mulai btn-sm px-4 me-md-2">
                        <ion-icon style="width: 22px; height: 22px; vertical-align: middle;" name="log-out-outline">
                        </ion-icon><span style="padding: 0 4px; vertical-align: middle;">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}